@using Contracts
@model Contracts.BookModel  

@{
    ViewBag.Title = "Borrow Book";
}

@using (Html.BeginForm())

{
    <div class="topDiv">
        <table>
            <tr>
                <h2>Borrow book - @Model.Name : @Model.Author</h2>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Author) :</td>
                <td>
                    <div class="innerDiv">
                        <select name="ReadersCardId">
                            <option value="">Readers info</option>
                            @foreach (ReadersInfo readersInfo in (IEnumerable<ReadersInfo>)@ViewData["Readers"])
                            {
                                <option value="@readersInfo.ReaderCardId">@readersInfo.FirstName  @readersInfo.LastName</option>
                            }
                        </select>

                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="innerDiv">
                        <input id="btnAdd" type="submit" value="Borrow" style=" width:75px"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}