@model IEnumerable<Contracts.BookModel>
@{
    ViewBag.Title = "Home page";
}

<h2>@ViewBag.Title</h2>

<div>
    User: [
    @{
        var @user = ViewBag?.User;
    }

    @user
    @if (ViewBag?.User != null)
    {
        @Html.ActionLink("LogOut", "Logout", "Account",
            new { returnUrl = "/" })
        ;
    }
    else
    {
        @Html.ActionLink("LogIn", "Login", "Account",
            new { returnUrl = "/" })
        ;
    }
    ]
</div>

<hr />

<div class="nav">
            @Html.ActionLink("Insert Book", "EditBook", "Home")
</div>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    Edit
                </th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditBook", "Home",
                            new { bookId = item.Id }) /
                        @Html.ActionLink("Remove", "RemoveBook", "Home",
                            new { bookId = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

