@using Contracts.Models
@using Contracts.Models.Responses
@using Microsoft.AspNetCore.Mvc
@using View.Services
@using Index = View.Pages.Index

<tr style="text-align: left;" @onclick="OnRowClicked">
    <td>
        @if (@EditState.IsEditMode)
        {
            <input type="checkbox" value="@Checked" @onchange="OnCheckChanged"/>
        }
        @Book.Id
    </td>
    <td>
        @if (Editing())
        {
            <div class="validation-message">@EntryErrorMessage</div>
            <input type="text" name="name" value="@Book.Name" @onchange="OnBookNameChanged"/>
        }
        else
        {
            @Book.Name
        }
    </td>
    <td>
        @if (Editing())
        {
            <input type="text" name="author" value="@Book.Author" @onchange="OnBookAuthorChanged"/>
        }
        else
        {
            @Book.Author
        }
    </td>
    <td>
        <div>@(Book.Borrowed != null ? @BorrowedBy(Book.Borrowed) : "Free")</div>
    </td>
</tr>


@code {
    
    [Parameter] public Index Root { get; set; }
    [Parameter] public BookModel Book { get; set; }
    [Parameter] public EventCallback<BookModel> OnBorrowBook { get; set; }
    [Parameter] public EditState EditState { get; set; }
    [Parameter] public bool Checked { get; set; }
    [Parameter] public EventCallback<EditableTableEntry> OnChecked { get; set; }
    
    private string? EntryErrorMessage { get; set; }
    public bool IsDirty { get; private set; }
    private bool _isEdited;

    private bool Editing()
    {
        return @EditState.IsEditMode && EditState.IsEntryInEdit(this);
    }

    protected override Task OnInitializedAsync()
    {
        Root.Add(this);
        return base.OnInitializedAsync();
    }
    
    private void EnterEdit()
    {
        if (_isEdited)
        {
            return;
        }
            
        _isEdited = true;
        EditState.StartEditEntry(this);
    }
    
    private async Task OnRowClicked()
    {
        if (EditState.IsEditMode)
        {
            EnterEdit();
            return;
        }

        await OnBorrowBook.InvokeAsync(Book);
    }
    
    private async Task OnCheckChanged(ChangeEventArgs e)
    {
        var current = Checked;
        bool.TryParse(e.Value?.ToString(), out current);
        if (current == Checked)
        {
            return;
        }

        Checked = current;
        await OnChecked.InvokeAsync(this);
    }

    private void OnBookNameChanged(ChangeEventArgs e)
    {
        var tmp = e.Value?.ToString();
        var bookName = !(string.IsNullOrWhiteSpace(tmp)) ? tmp : Book.Name;
        if (bookName == Book.Name)
        {
            return;
        }
        IsDirty = true;
        Book.Name = bookName;
    }

    private void OnBookAuthorChanged(ChangeEventArgs e)
    {
        var tmp = e.Value?.ToString();
        var bookAuthor = !(string.IsNullOrWhiteSpace(tmp)) ? tmp : Book.Author;
        if (bookAuthor == Book.Author)
        {
            return;
        }
        IsDirty = true;
        Book.Author = bookAuthor;
    }

    public async Task<bool> SaveChanges(BooksService booksService)
    {
        if (!IsDirty)
        {
            _isEdited = false;
            Checked = false;
            return true;
        }

        var updatedBook = await booksService.UpdateBook(Book);

        switch (updatedBook)
        {
            case OkObjectResult { Value: BookModel bookModel }:
                
                UpdateEntry(bookModel);
            
                IsDirty = false;
                _isEdited = false;
                Checked = false;
                EntryErrorMessage = "";

                return true;
            case BadRequestObjectResult { Value: ErrorCodeModel errorCodeModel}:
                EntryErrorMessage = errorCodeModel.Message;
                break;
        }

        return false;
    }

    public async Task<bool> DiscardChanges(BooksService booksService)
    {
        if (!IsDirty)
        {
            _isEdited = false;
            Checked = false;
            return true;
        }

        var revertedBook = await booksService.GetBook(Book.Id);
        if (revertedBook == null)
        {
            return true;
        }
        UpdateEntry(revertedBook);

        IsDirty = false;
        _isEdited = false;
        Checked = false;
        EntryErrorMessage = "";

        return true;
    }

    internal void UpdateEntry(BookModel bookModel)
    {
        Book.Id = bookModel.Id;
        Book.Name = bookModel.Name;
        Book.Author = bookModel.Author;
        Book.Borrowed = bookModel.Borrowed;
    }

    private static string BorrowedBy(BorrowModel borrowModel)
    {
        return "'" + borrowModel.FirstName + " " + borrowModel.LastName + "' borrowed on [" + borrowModel.From.ToString("dd MMMM yyyy") + "]";
    }
    
}