<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["appTitle"]</title>
    <meta charset="utf-8"/>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>

<div class="page-content">
    <h1>Project and prize</h1>

    <p>
        @Html.ActionLink("All Reports", "Index", "Attendance")
    </p>

    @{
        List<(int ProjectId, string Project)>? projects = (List<(int ProjectId, string Project)>?)ViewData["projects"];
        List<(int EmployeeId, string Employee)>? emplopyees = (List<(int EmployeeId, string Employee)>?)ViewData["employees"];
        List<(int PositionId, string PositionName)>? positions = (List<(int PositionId, string PositionName)>?)ViewData["positions"];
    }

    <div class="box float-left w-50">
        <h3>@ViewData["confirmation"]</h3>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label for="ProjectName" class="col-sm-2 control-label">Project Name</label>
                <div class="col-sm-10">
                    <select name="projectId">
                        <option value="">Select project</option>
                        @foreach ((int ProjectId, string Project) project in projects)
                        {
                            <option value="@project.ProjectId">@project.Project</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Employee" class="col-sm-2 control-label">Employee</label>
                <div class="col-sm-10">
                    <select name="employeeId">
                        <option value="">Select employee</option>
                        @foreach ((int EmployeeId, string Employee) employee in emplopyees)
                        {
                            <option value="@employee.EmployeeId">@employee.Employee</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Position" class="col-sm-2 control-label">Position</label>
                <div class="col-sm-10">
                    <select name="positionId">
                        <option value="">Select position</option>
                        @foreach ((int PositionId, string PositionName) employee in positions)
                        {
                            <option value="@employee.PositionId">@employee.PositionName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="TimeLogged" class="col-sm-2 control-label">TimeLogged minutes</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="timeLogged">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Report</button>
                </div>
            </div>
        </form>
    </div>


</div>


</body>
</html>