@using Attendance.DataAccess.Dtos
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["appTitle"]</title>
    <meta charset="utf-8"/>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
<div class="page-content">
    <h1>Reports</h1>
    <p>
        @Html.ActionLink("Insert report", "AddReport", "Attendance")
        @Html.ActionLink("Statistics", "GetProjectWithPrize", "Attendance")
    </p>
    @{
        List<ReportDto>? reports = (List<ReportDto>?)ViewData["reports"];
    }
    <div class="box float-left w-50">
        <table class="table w-100">
            <thead>
            <td>Id</td>
            <td>Project</td>
            <td>Employee</td>
            <td>Position</td>
            <td>Cost Per Hour</td>
            <td>LogTime Minutes</td>
            <td>LogDate</td>
            </thead>
            <tbody>
            @foreach (ReportDto report in reports)
            {
                <tr>
                    <td>@report.Id</td>
                    <td>
                        @{
                            var d = new Dictionary<string, string>
                            {
                                { "projectId", @report.ProjectId.ToString() },
                                { "from", new DateTime(1970, 1, 1, 5, 0, 0, DateTimeKind.Utc).ToShortDateString() },
                                { "to", DateTime.Now.Add(TimeSpan.FromDays(1)).ToShortDateString() },
                            };
                        }
                        @Html.ActionLink(@report.Project, "GetProjectWithPrize", "Attendance", routeValues: @d)
                    </td>
                    <td>@report.Employee</td>
                    <td>@report.PositionName</td>
                    <td>@report.CostPerHour</td>
                    <td>@report.LogTimeMinutes</td>
                    <td>@report.LogDate</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>


</body>
</html>